/* 
---- TYPOGRAPHY(text styles) ------









---- COLOURS ------

PRIMARY

BASE:
TINT:
SHADE:

SECONDARY

BASE:
TINT:
SHADE:

TERTIARY
BASE:
TINT:
SHADE:


GREY(NEUTRAL)
BASE:
TINT:
SHADE:





*/
a {
  list-style: none;
}
/* div p {
  background-color: #7fffd4;
} */
