h2 {
  /* text-align: left; */
  /* line-height: 0.2; */
  letter-spacing: 1px;
  line-height: 100%;
  text-align: center;
}
/* h3 {
  text-align: center;
} */
/* h4 {
  text-align: right;
} */
p {
  /* text-align: justify; */
  /* line-height: 3; */
  /* line-height: 1.5; */
  letter-spacing: 5px;
  /* text-align: justify; */
}
/* a {
  text-align: centre;
} */
