/* 
--------- TYPOGRAPHY --------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px

FONT WEIGHTS
  400(regular text) / 700(for headings)

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px(HEADINGS-TIGHTENING)

FONT FAMILY
poppins

--------- COLORS --------

PRIMARY
Base:  #339af0 (Sky Blue)
Tint:  #d0ebff (Arctic)
Shade:  #1c7ed6 (Deep Sea)

SECONDARY
Base:  #9775fa (Lavandar)
Tint:  #e5dbff (Moonlight Iris)
Shade:  #7048e8 (Velvet Night)

TERTIARY
Base:  #ff922b (Pumpkin)
Tint:  #ffe8cc (Dawn)
Shade  :#f76707 (Lava)

GREY(NEUTRAL)
Base:  #495050 (Slate)
Tint:  #f1f3f5 (Pebble)
Shade:  #212529 (Graphite)
*/

/* Grouping shared styles and using css cascade ro add new rules to previous rules(coflicting rules) */

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: #212529;
  letter-spacing: -2px;
  font-weight: 700;
  font-family: "poppins", sans-serif;
}
p,
a,
.small-text {
  color: #495057;
  line-height: 1.5;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}
h1 {
  text-align: center;
  font-size: 62px;
}
h2 {
  text-align: center;
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 25px;
}
p {
  font-size: 20px;
}
a {
  text-decoration: none;
  font-size: 16px;
}
ul {
  list-style: none;
}
.small-text {
  font-size: 12px;
}
.btn {
  font-weight: 400;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  text-decoration: none;
}
.btn-primary {
  color: #339af0;
}
.btn-secondary {
  color: #9775fa;
}
a:link {
}
a:visited {
}
a:hover {
}
a:active {
}

a:hover {
  color: #212529;
}

/* pseudo -classes{STATE) */
/* a:link-targets targets an anchor tag when jthas not been visited
a:visited targets an anchor tag when it has been visited
a:hover targets an elements when hover or the cursor is placed on it
a:active */
